@page "/"
@using FootballStats.Data
@inject MatchAPI MatchApi
@inject NavigationManager navManager;

<h2 class="display-4">VEIKKAUSLIIGA: RESULTS</h2>
<input class="form-control" @bind-value="searchTerm" @bind-value:event="oninput" placeholder="Hae pelit joukkueen nimellä" style="margin:10px 0px; text-align:center;"/>
<table class="table table-hover table-dark table-striped">
    <tbody>
        @foreach (var m in filteredData)
        {
        <tr style="cursor:pointer" @onclick="@(e => showStats(m.Id))">
            <td>@m.MatchDate.ToString()</td>
            <td>@m.HomeTeam.Name.ToString()</td>
            <td>@m.HomeGoals.ToString()</td>
            <td>@m.AwayGoals.ToString()</td>
            <td>@m.AwayTeam.Name.ToString()</td>
        </tr>
        }
    </tbody>
</table>

@code{
    private List<Match> data;
    public string url = "/matchstats";
    public string searchTerm = "";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            data = MatchApi.GetMatches();
        }
        catch
        {
            
        }

    }

    private void showStats(int id)
    {
        navManager.NavigateTo(url + "/" + id);
    }

    List<Match> filteredData => data.Where(i => (i.HomeTeam.Name.ToLower().Contains(searchTerm.ToLower())) || (i.AwayTeam.Name.ToLower().Contains(searchTerm.ToLower()))).ToList();
}