@page "/matchstats/{id}"
@using FootballStats.Data
@inject MatchAPI MatchApi

    <div class="card">
        <div class="row" style="margin:1em">
            <div class="col-xs-6" style="width:33%">
                <img class="img-fluid" src="@match.HomeTeam.LogoUrl" />
                <h1 class="team-name">@match.HomeTeam.Name</h1>
            </div>
            <div class="col-xs-6" style="width:33%">
                <div class="row h-100">
                    <div class="col-sm-12 my-auto">
                        <h1 style="font-size:8vw;">@match.HomeGoals : @match.AwayGoals</h1>
                    </div>
                </div>

            </div>
            <div class="col-xs-6" style="width:33%">
                <img class="img-fluid" src="@match.AwayTeam.LogoUrl" />
                <h1 class="team-name">@match.AwayTeam.Name</h1>
            </div>
        </div>

        <div class="card-body" style="text-align:center;margin:10px;border-radius:5px">
            @if (match.MatchEvents.Count() > 0 && match.MatchEvents != null) // If the JSON API has the match events for the particular match
            {
                <table class="table" style="margin:0;width:100%;">
                    <tbody>
                        @foreach (MatchEvent e in match.MatchEvents) // Printing out the match events
                        {
                            <tr style="margin:0">
                                @if (e.TeamId == 0) // Mutual match event
                                {
                                    <td colspan="2" style="text-align:center"><img src="@e.EventTypeIcon" /> @e.Description</td>
                                }
                                @if (match.HomeTeam.Id == e.TeamId) // Home team match event
                                {
                                    <td class="home">@e.Description <img src="@e.EventTypeIcon" /> ' @e.EventMinute</td>
                                    <td style="width:50%"></td>
                                }
                                @if (match.AwayTeam.Id == e.TeamId) // Away team match event
                                {
                                    <td style="width:50%"></td>
                                    <td class="away">@e.EventMinute ' <img src="@e.EventTypeIcon" /> @e.Description</td>

                                }
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else // if there no data in the match events
            {
                <div class="alert alert-info" role="alert">
                    This match does not have recorded match events.
                </div>
            }
        </div>
    </div>

@code {
    private Match match;
    [Parameter]
    public string ID { get; set; }
    int id;

    protected override async Task OnInitializedAsync()
    {
        id = int.Parse(ID);
        match = MatchApi.GetMatch(id); // Getting match data from the API
        await base.OnInitializedAsync();
    }
}
