@page "/matchstats/{id}"
@using FootballStats.Data
@inject MatchAPI MatchApi

    <div class="card">
        <div class="row" style="margin:1em">
            <div class="col-xs-6" style="width:33%">
                <img src="@match.HomeTeam.LogoUrl" />
                <h1 style="font-size:2vw;">@match.HomeTeam.Name</h1>
            </div>
            <div class="col-xs-6" style="width:33%">
                <div class="row h-100">
                    <div class="col-sm-12 my-auto">
                        <h1 style="font-size:8vw;">@match.HomeGoals : @match.AwayGoals</h1>
                    </div>
                </div>

            </div>
            <div class="col-xs-6" style="width:33%">
                <img src="@match.AwayTeam.LogoUrl" />
                <h1 style="font-size:2vw;">@match.AwayTeam.Name</h1>
            </div>
        </div>

        <div class="card-body" style="text-align:center">
            <table class="table-borderless" style="margin:0;width:100%">
                <tbody>
                    @foreach (MatchEvent e in match.MatchEvents)
                    {
                    <tr style="margin:0">
                        @if(e.TeamId == 0)
                        {
                            <td style="text-align:center"><img src="@e.EventTypeIcon"/> @e.Description</td>
                        }
                        @if (match.HomeTeam.Id == e.TeamId)
                        {
                        <td style="text-align:right;width:50%">@e.Description <img src="@e.EventTypeIcon" /> ' @e.EventMinute</td>
                            <td style="width:50%"></td>
                        }
                        @if (match.AwayTeam.Id == e.TeamId)
                        {
                            <td style="width:50%"></td>
                            <td style="text-align:left;width:50%">@e.EventMinute ' : <img src="@e.EventTypeIcon" /> @e.Description</td>

                        }
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

@code {
    private Match match;
    [Parameter]
    public string ID { get; set; }
    int id;

    protected override async Task OnInitializedAsync()
    {
        id = int.Parse(ID);
        match = MatchApi.GetMatch(id);
    }
}
